.abms-cancel-button {
  margin-left: 0.5em;
}

.abms-delete-link {
  color: #a94442;
  font-weight: bold;
  text-decoration: none;
}
.abms-delete-link:hover {
  text-decoration: underline;
}

.abms-sn-provisional-msg {
  color: red;
  font-style: italic;
}

.acuity-sn-admin-section {
  padding: 1em;
  margin-bottom: 2em;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.acuity-sn-admin-section:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.acuity-sn-admin-section h3 {
  margin-top: 0;
}
